body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: MainFont;
}


@font-face{
  font-family: MainFont;
  src: url("../fonts/flight.otf");
}

@font-face{
  font-family: SecondaryFont;
  src: url("../fonts/biko.otf");
}

@font-face {
  font-family: 'Helvetica 35 Thin';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Helvetica 35 Thin'), url('../fonts/HelveticaNeue-Thin.woff') format('woff');
}

@font-face {
font-family: 'Helvetica Neue Medium';
font-style: normal;
font-weight: normal;
src: local('../fonts/Helvetica Neue Medium'), url('../fonts/HelveticaNeueMedium.woff') format('woff');
}

@font-face {
font-family: 'Helvetica 35 Thin';
font-style: normal;
font-weight: normal;
src: local('../fonts/Helvetica 35 Thin'), url('../fonts/HelveticaNeue-Thin.woff') format('woff');
}

#canvas {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#snapButton {
  background: #0984e3;
  padding: 10px 24px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 2px;
  border-radius: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: 'Helvetica 35 Thin' !important;
  border-radius: 5px;
}

#video {
  border: 1.5em solid rgba(255,255,255,.5);
  border-radius: 5px;
  margin: auto;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}



.topbar{
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.topbar img{
  height: 6%;
  text-align: center;
  margin-bottom: 2%;
  margin-left: 4%;
}

.barname{
  padding-left: 1%;
  font-size: 45px;
  text-transform: lowercase;
  font-weight: bold;
  text-align: left;
  font-family: SecondaryFont;
  color: #FF1212 !important;
}

.background{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../images/triangle.png");
  background-repeat: repeat;
  background-size: auto;
}

.information{
  display: flex;
}

.profile{
  height: 100%;
  width: 40%;
  margin-left: 5%;
}

.profilestyle{
  top: 10%;
  align-items: center;
}

.profilestyle img{
  width: 290px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-radius: 5px 5px 0px 0px;
  margin-top: 10%;
}

.profiletext{
  width: 290px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 0px 0px 5px 5px;
  background: white;
  text-align: center;
}

.profilestyle h2{
  font-family: MainFont;
  letter-spacing: 5px;
  font-size: 30px;
  color: black;
}

.profilestyle p{
  font-family: MainFont;
  font-size: 20px;
  letter-spacing: 1px;
  color: black;
}

.request{
  width: 290px;
  text-align: center;
  margin-top: 30px;
}

.buttreq{
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: MainFont;
  letter-spacing: 2px;
}

.car{
  height: 100%;
  width: 60%;
  margin-right: 10%;
  right: 0;
  left: 50%
  text-align: center;
}

.cardetails{
  margin-top: 7%;
  letter-spacing: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  background: white;
}

.carlock{
  text-align: center;
}
