<html>

<head>
  <!-- <script src="/src/ImportSmartContract.js"></script> -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <!-- <script src="/js/landing_page.js"></script> -->

  <!-- <link rel="stylesheet" type="text/css" href="../css/dashboard.css"> -->

<body>
  <div class="background">
    <div class="layer"></div>
    <div class="overlay">
      <div class="logo-container">
        <div class="logo"></div>
      </div>
      <p class="verify_text">Car Locked!</p>
   </div>
</div>

</body>

</html>
