<html>
<head>
  <script src="/src/ImportSmartContract.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="/js/landing_page.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/dashboardV2.css">
</head>

<body>
  <div font-family="MainFont">

  <div class="topbar">
    <a class="barname">My Apps</a>
  </div>

  <div class="background">

  <div class="information">

    <div class="profile">
      <div class="profilestyle">
        <img src="../images/avatar.png" alt="User">
        <div class="profiletext">
        <h2>John Doe</h2>
        <p>Account Details</p>
        </div>

        <div class="request">
        <button type="button" class="buttreq">Request Money</button>
        </div>
      </div>
    </div>

    <div class="car">
      <div class="cardetails">
        <h2>Car Details</h2>
        <p>Insert Information Here.</p>
      </div>
      <div class="carlock">
        <button class="btn"><img src="../images/lock.png" width =65 height=65></button>
        <button class="btn"><img src="../images/unlock.png" width =50 height=50></button>
        <h3>Lock or unlock your car</h3>
      </div>
    </div>

   </div>

   </div>
   </div>

</body>

</html>
