<html>

<head>
<!-- <script src="/src/ImportSmartContract.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/landing_page.css">
  <script src="../js/landing_page.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
</head>
<body>
  <div id="overlay">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h1 id="authenticating">Authenticating User...</h1>
        <h1 id="validating">Verifying User ... </h1>
        <h1 id="success">Success! </h1>
    </div>
    </div>
  </div>
    <div class="section-top">
      <div class="container text-center mt-10">
        <div class="col-lg-12">
          <h1 class="display-1">FaceLyft</h1>
        </div>
        <div class="col-lg-12">
          <canvas id="canvas"></canvas>
          <video id="video"></video>
        </div>
        <div class="col-lg-12">
          <button id='snapButton' class="w-50">Verify</button>
        </div>
      </div>
</div>
</body>

</html>
