<html>

<head>
<!-- <script src="/src/ImportSmartContract.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/landing_page.css">
    <script src="/js/landing_page.js"></script>
</head>
<body>
  <div font-family="MainFont">
  <div font-family="SecondaryFont">
  <div class="section-top">
    <div class="content">
      <h1>FaceLyft</h1>
      <video id="video"></video>
      <button id='snapButton'>Verify</button>
      <canvas id="canvas"></canvas><br>
    </div>
  </div>
</body>

</html>
