<html>

<head>
  <!-- <script src="/src/ImportSmartContract.js"></script> -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/landing_page.css">

<body>
  <div class="background">
    <div class="layer"></div>
    <div class="overlay">
      <div class="logo-container">
        <div class="logo"></div>
      </div>
      <form id="brandForm" action="/ens_success" method="get">
        <div class="text-center form-group">
          <label class="verify_text">FaceSafe. Put face below</label>
          <br/>
          <input class="form-control" id="ens_number" name="ens_number">
          <br />
        <input type="submit" class="verify_button" value="Verify"/>
        </div>
      </form>
   </div>
</div>

</body>
</html>
